<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="app">
        <div class="block">
            <form action="" v-on:submit.prevent>
                <input placeholder="Введите задание для списка" v-model="newTask">
                <button v-on:click="addTask">Добавить</button>
            </form>

        </div>


        <div class="text">
            <ul>
                <li v-for="todo, index in todos">{{todo.title}}<button v-on:click="remove">Удалить</button></li>
            </ul>

        </div>
    </div>



    <script src="main.js"></script>
</body>

</html>